/* .slider {
   -webkit-appearance: none;
   appearance: none;
   width: 100%;
   height: 8px;
   background-color: #ddd;
   border-radius: 8px;
   transition: background-color 0.3s ease;
}


.slider::-webkit-slider-runnable-track {
   height: 8px;
   background-color: #4CAF50;
   border-radius: 8px;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 20px;
   height: 20px;
   background-color: #FF6347;
   border-radius: 50%;
   cursor: pointer;
}

.slider::-moz-range-track {
   height: 8px;
   background-color: #4CAF50;
   border-radius: 8px;
}

.slider::-moz-range-thumb {
   width: 20px;
   height: 20px;
   background-color: #FF6347;
   border-radius: 50%;
   cursor: pointer;
}


.slider:focus {
   background-color: #5bc2a7;
} */